repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: vale
        name: vale
        entry: vale docs/ README.md
        language: system
        pass_filenames: false
        always_run: true

      - id: zensical-build
        name: zensical build
        entry: poetry run zensical build
        language: system
        pass_filenames: false
        always_run: true
