site_name: pysrf
site_description: Discover interpretable dimensions from representational similarities
site_author: Florian Mahner
site_url: https://florianmahner.github.io/pysrf/
repo_url: https://github.com/florianmahner/pysrf
repo_name: florianmahner/pysrf

theme:
  name: material
  palette:
    scheme: default
  features:
    - content.code.copy

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            separate_signature: true
            merge_init_into_class: true
            filters: ["!^_"]

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - tables
  - toc:
      permalink: true

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Installation: installation.md
  - Quick Start: quickstart.md
  - Examples: examples.md
  - API Reference:
    - Model (SRF): api/model.md
    - Cross-Validation: api/cross_validation.md
    - Sampling Bounds: api/bounds.md
  - Development: development.md
